<h1>All Books</h1>
<div class="form-group">
    <div class="row form-group w-25">
        <div class="col-md-6">
            <a class="btn btn-success form-control" [routerLink]="['/add']">Create</a>
        </div>
    </div>
    <div class="row form-group mt-5 w-50">
        <div class="col-md-6">
            <input type="text" (keyup.enter)="applySearch()" placeholder="filter" class="form-control" [(ngModel)]="searchString" />
        </div>
        <div class="col-md-4">
            <input type="button" value="Search" class="form-control" (click)="applySearch()" />
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td><a href="#" (click)="sortBooks('id')">Id{{lastOrdered | sort : orderAsc: "id"}}</a></td>
            <td><a href="#" (click)="sortBooks('name')">Name{{lastOrdered | sort : orderAsc : "name"}}</a></td>
            <td><a href="#" (click)="sortBooks('author')">Author{{lastOrdered | sort : orderAsc : "author"}}</a></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>
                <input type="button" value="Delete" (click)="deleteBook(book)" class="btn btn-danger" />
            </td>
        </tr>
    </tbody>
</table>
